@keyframes toastify-bounceInRight {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  from {
    opacity: 0;
    transform: translate3d(3000px, 0, 0); }
  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0); }
  75% {
    transform: translate3d(10px, 0, 0); }
  90% {
    transform: translate3d(-5px, 0, 0); }
  to {
    transform: none; } }
.toastify-bounceInRight, .toast-enter--top-right, .toast-enter--bottom-right {
  animation-name: toastify-bounceInRight; }

@keyframes toastify-bounceOutRight {
  20% {
    opacity: 1;
    transform: translate3d(-20px, 0, 0); }
  to {
    opacity: 0;
    transform: translate3d(2000px, 0, 0); } }
.toastify-bounceOutRight, .toast-exit--top-right, .toast-exit--bottom-right {
  animation-name: toastify-bounceOutRight; }

@keyframes toastify-bounceInLeft {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0); }
  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0); }
  75% {
    transform: translate3d(-10px, 0, 0); }
  90% {
    transform: translate3d(5px, 0, 0); }
  to {
    transform: none; } }
.toastify-bounceInLeft, .toast-enter--top-left, .toast-enter--bottom-left {
  animation-name: toastify-bounceInLeft; }

@keyframes toastify-bounceOutLeft {
  20% {
    opacity: 1;
    transform: translate3d(20px, 0, 0); }
  to {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0); } }
.toastify-bounceOutLeft, .toast-exit--top-left, .toast-exit--bottom-left {
  animation-name: toastify-bounceOutLeft; }

@keyframes toastify-bounceInUp {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  from {
    opacity: 0;
    transform: translate3d(0, 3000px, 0); }
  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0); }
  75% {
    transform: translate3d(0, 10px, 0); }
  90% {
    transform: translate3d(0, -5px, 0); }
  to {
    transform: translate3d(0, 0, 0); } }
.toastify-bounceInUp, .toast-enter--bottom-center {
  animation-name: toastify-bounceInUp; }

@keyframes toastify-bounceOutUp {
  20% {
    transform: translate3d(0, -10px, 0); }
  40%, 45% {
    opacity: 1;
    transform: translate3d(0, 20px, 0); }
  to {
    opacity: 0;
    transform: translate3d(0, -2000px, 0); } }
.toastify-bounceOutUp, .toast-exit--top-center {
  animation-name: toastify-bounceOutUp; }

@keyframes toastify-bounceInDown {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0); }
  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0); }
  75% {
    transform: translate3d(0, -10px, 0); }
  90% {
    transform: translate3d(0, 5px, 0); }
  to {
    transform: none; } }
.toastify-bounceInDown, .toast-enter--top-center {
  animation-name: toastify-bounceInDown; }

@keyframes toastify-bounceOutDown {
  20% {
    transform: translate3d(0, 10px, 0); }
  40%, 45% {
    opacity: 1;
    transform: translate3d(0, -20px, 0); }
  to {
    opacity: 0;
    transform: translate3d(0, 2000px, 0); } }
.toastify-bounceOutDown, .toast-exit--bottom-center {
  animation-name: toastify-bounceOutDown; }

.toastify-animated {
  animation-duration: 0.75s;
  animation-fill-mode: both; }

.toastify {
  z-index: 999;
  position: fixed;
  padding: 4px;
  width: 320px;
  box-sizing: border-box;
  color: #fff; }

.toastify--top-left {
  top: 1em;
  left: 1em; }

.toastify--top-center {
  top: 1em;
  left: 50%;
  margin-left: -160px; }

.toastify--top-right {
  top: 1em;
  right: 1em; }

.toastify--bottom-left {
  bottom: 1em;
  left: 1em; }

.toastify--bottom-center {
  bottom: 1em;
  left: 50%;
  margin-left: -160px; }

.toastify--bottom-right {
  bottom: 1em;
  right: 1em; }

@media only screen and (max-width: 480px) {
  .toastify {
    width: 100vw;
    padding: 0; }

  .toastify--top-left, .toastify--top-center, .toastify--top-right {
    left: 0;
    top: 0;
    margin: 0; }

  .toastify--bottom-left, .toastify--bottom-center, .toastify--bottom-right {
    left: 0;
    bottom: 0;
    margin: 0; } }
.toastify__close {
  padding: 0;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  opacity: .7;
  transition: .3s ease;
  align-self: flex-start; }

.toastify__close:hover, .toastify__close:focus {
  opacity: 1; }

.toastify-content--default .toastify__close {
  color: #000;
  opacity: 0.3; }

.toastify-content--default .toastify__close:hover {
  opacity: 1; }

.toastify-content {
  position: relative;
  min-height: 48px;
  margin-bottom: 1rem;
  padding: 8px;
  border-radius: 1px;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 15px 0 rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: space-between;
  max-height: 800px;
  overflow: hidden;
  font-family: sans-serif;
  cursor: pointer; }

.toastify-content--default {
  background: #fff;
  color: #aaa; }

.toastify-content--info {
  background: #3498db; }

.toastify-content--success {
  background: #07bc0c; }

.toastify-content--warning {
  background: #f1c40f; }

.toastify-content--error {
  background: #e74c3c; }

.toastify__body {
  margin: auto 0;
  flex: 1; }

@media only screen and (max-width: 480px) {
  .toastify-content {
    margin-bottom: 0; } }
@keyframes track-progress {
  0% {
    width: 100%; }
  100% {
    width: 0; } }
.toastify__progress {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 5px;
  z-index: 999;
  opacity: 0.7;
  animation: track-progress linear 1;
  background-color: rgba(255, 255, 255, 0.7); }

.toastify__progress--default {
  background: linear-gradient(to right, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55); }

.root {
  height: 100%;
  width: 100%; }

.App {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  -webkit-transition: width 1s ease-in-out;
  -moz-transition: width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif; }

div {
  box-sizing: border-box; }

.settings-container {
  display: flex;
  flex-flow: column; }
  .settings-container a {
    padding: 16px;
    background-color: #1A3C42;
    margin-bottom: 8px;
    cursor: pointer; }

.start-flow {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0; }
  .start-flow .start-flow-inner {
    max-width: 740px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; }
  .start-flow .start-panel {
    position: relative;
    background-color: #000; }
    .start-flow .start-panel header {
      width: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      z-index: 100;
      position: absolute;
      left: 0;
      top: 0;
      box-sizing: border-box; }
    .start-flow .start-panel .items-container {
      padding-top: 150px; }

.starting-items {
  display: flex;
  flex-flow: row;
  padding-top: 20px;
  background-color: #1E88E5;
  margin-bottom: 8px; }
  .starting-items .item-outer {
    background-color: transparent;
    margin-bottom: 0px; }
  .starting-items p {
    top: -4px;
    left: 8px;
    position: absolute;
    font-weight: 600;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.97); }

.rune-tip {
  max-width: 600px; }

.dark-toast {
  background: #323232;
  color: #fff; }

.dark-toast > .toastify__close {
  color: #fff; }

.transparent-progress {
  background: rgba(255, 255, 255, 0); }

.fancy-progress {
  background: repeating-radial-gradient(red, yellow 10%, green 15%); }

.stats-container {
  display: flex;
  flex-flow: column;
  box-sizing: border-box; }
  .stats-container .stat-row {
    display: flex;
    flex-flow: row;
    box-sizing: border-box;
    padding: 4px 16px 4px 16px; }
  .stats-container .even {
    background-color: #17393F; }

.section-header {
  display: flex;
  align-items: center; }
  .section-header button {
    position: relative; }

.build-stats {
  flex: 1 0 0;
  display: flex;
  flex-flow: column;
  background-color: #0d2f35; }

.spacer-1-flex {
  flex: 1 0 0;
  justify-content: center;
  align-items: center; }

.main-scroll-view {
  padding: 0px 16px 0px 16px;
  flex: 2 0 0; }

.main-outer {
  display: flex;
  justify-content: center;
  position: relative;
  min-height: 100%; }
  .main-outer .side-ad {
    flex: 1 1 100%;
    flex-flow: column; }
  .main-outer .side-ad-left {
    display: flex;
    align-items: flex-end; }
  .main-outer .side-ad-right {
    display: flex;
    align-items: flex-start; }
  .main-outer .ad {
    width: 100%;
    height: 100%;
    display: inline-block; }
  .main-outer .ad-container {
    height: 100%;
    overflow: hidden; }
  .main-outer .main {
    flex: 0 0 auto;
    max-width: 700px;
    min-height: 100%;
    position: relative; }
    .main-outer .main .section-header {
      padding-left: 16px; }
    .main-outer .main .content-container {
      padding-left: 16px;
      padding-right: 16px; }
    .main-outer .main .App-title {
      font-size: 1.5em; }
    .main-outer .main .add-item-container {
      display: inline-block; }
    .main-outer .main .add-item {
      padding-top: 20px;
      width: 24px;
      height: 24px; }
    .main-outer .main .selected-champion-container {
      border: 2px solid #c9ba9d;
      width: 100px;
      height: 100px;
      position: relative;
      overflow: hidden;
      border-radius: 50%; }
      .main-outer .main .selected-champion-container .selected-champion {
        left: -100%;
        right: -100%;
        top: -100%;
        bottom: -100%;
        position: absolute;
        margin: auto;
        overflow: hidden; }
    .main-outer .main .edit-champion-container {
      border: 2px solid #c9ba9d;
      width: 100px;
      height: 100px;
      overflow: hidden;
      border-radius: 50%; }
      .main-outer .main .edit-champion-container img:hover {
        opacity: .5; }

.sums-container {
  display: flex; }
  .sums-container .selected-sum-container {
    border: 2px solid #c9ba9d;
    border-radius: 50%;
    overflow: hidden; }

.champion-sums-container {
  padding-left: 16px;
  display: flex;
  -webkit-align-items: center;
  align-items: center; }
  .champion-sums-container .sum-icon {
    width: 64px;
    height: 64px; }

.runes-container {
  display: flex;
  flex-flow: row;
  margin-bottom: 16px; }
  .runes-container .divider {
    margin-top: 8px;
    margin-bottom: 8px;
    border-top: 1px solid rgba(200, 200, 200, 0.3);
    border-bottom: 1px solid rgba(200, 200, 200, 0.3); }
  .runes-container .vertical-divider {
    margin-left: 8px;
    margin-right: 8px;
    border-left: 1px solid rgba(200, 200, 200, 0.3);
    border-right: 1px solid rgba(200, 200, 200, 0.3); }
  .runes-container .runes-container-row {
    display: flex;
    flex-flow: column; }
    .runes-container .runes-container-row > div {
      display: flex;
      flex-flow: row;
      width: 100%;
      justify-content: space-between;
      align-items: center; }
  .runes-container .item {
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 8px;
    cursor: pointer;
    border: 2px solid #c9ba9d; }
  .runes-container .item-selected {
    background: #c9ba9d; }

.final-items-container {
  padding-left: 8px;
  padding-right: 8px; }

.side-panel {
  width: 0px;
  display: flex;
  flex-flow: column;
  transition: all .25s ease-in-out;
  background-color: #0d2f35; }
  .side-panel.side-panel-collapsed {
    transform: translateX(100%);
    flex: .001 0 0; }
  .side-panel.side-panel-expanded {
    transform: translateX(0);
    flex: 1 0 0; }

.vertical-content {
  display: flex;
  flex-flow: column;
  flex: 1 0 0;
  background-color: #0d2f35; }
  .vertical-content header {
    padding-left: 16px;
    padding-top: 16px;
    padding-bottom: 16px; }
  .vertical-content h3 {
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: .1em; }
  .vertical-content .item {
    margin: 8px; }
  .vertical-content .items-scroll-view {
    flex: 1 0 auto;
    height: auto; }
  .vertical-content .items-container {
    box-sizing: border-box;
    padding-left: 8px;
    padding-right: 8px;
    flex: 1 0 0;
    display: flex;
    flex-flow: row wrap; }

.error {
  color: #f00; }

.skill-build {
  display: flex;
  flex-flow: row wrap; }
  .skill-build .skill-cell {
    margin-right: 1px;
    margin-bottom: 1px;
    background-color: #0d2f35;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center; }
    .skill-build .skill-cell.clickable {
      cursor: pointer; }
  .skill-build .ult-cell {
    background-color: #17393F; }
  .skill-build .error-cell {
    box-shadow: 1px 1px 3px rgba(240, 10, 10, 0.5); }
  .skill-build .skill-marked {
    width: 66%;
    height: 66%;
    background-color: #c9ba9d; }
  .skill-build .skill-cell:hover {
    background-color: #1A3C42; }
  .skill-build .skill-cell:before {
    content: '';
    float: left;
    padding-top: 100%; }

.App-intro {
  font-size: large; }

.champion-view-container {
  margin: 8px;
  height: 60px;
  width: 60px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  transition: background-color 0.3s ease;
  border: 2px solid #c9ba9d;
  cursor: pointer; }
  .champion-view-container .item {
    margin-left: -8px;
    margin-top: -8px;
    height: 76px;
    width: 76px;
    background-size: cover;
    transition: opacity 0.3s ease; }
  .champion-view-container .item:hover {
    opacity: .5; }

.champion-view-container:hover {
  background-color: #c9ba9d; }

.item-build-section-container {
  transition: background-color 0.3s ease; }
  .item-build-section-container.reorder {
    background-color: #1A3C42; }

.item-build {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end; }

.add-item-outer {
  margin-bottom: 8px; }

.item-outer {
  overflow: hidden;
  position: relative;
  background-color: #1A3C42;
  margin-bottom: 8px;
  cursor: pointer; }
  .item-outer .item-img-container {
    box-sizing: border-box;
    overflow: hidden;
    border: 2px solid #0d2f35; }
    .item-outer .item-img-container img {
      margin-left: -4px;
      margin-top: -4px;
      background-size: cover; }
  .item-outer .a1 {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 0.3s, height 0.3s, background-color 0.3s, transform 0.3s, opacity 0.3s ease-in-out;
    position: absolute;
    background-color: rgba(1, 1, 1, 0.5);
    left: 0px;
    top: 0px;
    opacity: 0;
    transform: translate(0, -100%);
    cursor: pointer; }
  .item-outer .a1:hover {
    background-color: rgba(100, 100, 100, 0.5); }
  .item-outer.editable .a1-hover {
    transform: translate(0, 0);
    opacity: 1; }
  .item-outer .a2 {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 0.3s, height 0.3s, background-color 0.3s, transform 0.3s, opacity 0.3s ease-in-out;
    position: absolute;
    background-color: rgba(1, 1, 1, 0.5);
    left: 0px;
    bottom: 0px;
    opacity: 0;
    transform: translate(0, 100%);
    cursor: pointer; }
  .item-outer .a2:hover {
    background-color: rgba(100, 100, 100, 0.5); }
  .item-outer.editable .a2-hover {
    transform: translate(0, 0);
    opacity: 1; }

.item-picker .item img {
  padding-top: 0px;
  width: 58px;
  /* you can use % */
  height: auto; }

.item img {
  padding-top: 8px;
  width: 64px;
  /* you can use % */
  height: auto; }

h2 {
  font-weight: 300;
  font-family: 'Roboto', sans-serif; }

h3 {
  font-size: 1em; }

h4 {
  font-size: 1.2em;
  font-weight: 300;
  font-family: 'Roboto', sans-serif; }

.picker-main {
  box-sizing: border-box;
  padding-bottom: 16px;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #0d2f35;
  min-height: 100%; }
  .picker-main.about a:link {
    color: #c9ba9d;
    text-decoration: none; }
  .picker-main.about a:visited {
    color: rgba(224, 207, 175, 0.5);
    text-decoration: none; }
  .picker-main p {
    padding-left: 16px;
    padding-right: 16px; }
  .picker-main h4 {
    padding-left: 16px;
    padding-right: 16px; }

.footer-outer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #000;
  text-align: center; }
  .footer-outer .footer {
    padding-top: 16px;
    padding-bottom: 16px;
    margin: auto;
    max-width: 700px;
    font-size: 13px;
    color: #a0a0a0; }
    .footer-outer .footer .footer-item {
      margin-left: 8px;
      margin-right: 8px;
      font-weight: 500; }
      .footer-outer .footer .footer-item:link {
        color: #a0a0a0;
        text-decoration: none; }
      .footer-outer .footer .footer-item:visited {
        color: #a0a0a0;
        text-decoration: none; }

@media (min-width: 1899px) {
  .main-outer .ad-container {
    width: 600px; } }
@media (max-width: 1900px) {
  .main-outer .ad-container {
    width: 400px; } }
@media (max-width: 1500px) {
  .main-outer .ad-container {
    width: 300px; } }
@media (max-width: 1300px) {
  .main-outer .ad-left-banner {
    display: none; }

  .main-outer .ad-right-banner {
    display: none; }

  .main-outer .ad-container {
    display: none; } }
@media (max-width: 1080px) {
  .side-panel {
    position: absolute;
    right: 0px;
    height: 100%;
    width: 100%;
    max-width: 400px; }

  .side-panel-collapsed {
    width: 0px; } }
@media (max-width: 700px) {
  .main-outer .main {
    flex: 0; } }
@media (max-width: 600px) {
  .runes-container .item-selected {
    box-sizing: border-box;
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
    background: #c9ba9d;
    margin-right: 2vw;
    cursor: pointer; }
  .runes-container .item {
    box-sizing: border-box;
    border: 2px solid #c9ba9d;
    height: 7vw;
    width: 7vw;
    border-radius: 50%;
    padding-right: 2vw;
    cursor: pointer; }

  .side-panel {
    position: absolute;
    right: 0px;
    height: 100%;
    width: 100%;
    max-width: 230px; }

  .side-panel-collapsed {
    width: 0px; } }

/*# sourceMappingURL=App.css.map */
