@import 'colors';
@import 'toast';

.App {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  -webkit-transition: width 1s ease-in-out;
  -moz-transition: width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;

  overflow-x: hidden;
}

.settings-container {
  display: flex;
  flex-flow: column;

  a {
    padding: 16px;
    background-color: $primary-color-light;
    margin-bottom: 8px;
    cursor: pointer;
  }
}

.start-flow {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;

  .start-flow-inner {
    max-width: 740px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  }

  .start-panel {
    position: relative;
    background-color: #000;

    header {
      width: 100%;
      background-color: rgba(0, 0, 0, .8);
      z-index: 100;
      position: absolute;
      left: 0;
      top: 0;

      box-sizing: border-box;
    }

    .items-container {
      padding-top: 150px;
    }
  }
}

.starting-items {
  display: flex;
  flex-flow: row;
  padding-top: 20px;
  background-color: #1E88E5;
  margin-bottom: 8px;

  .item-outer {
    background-color: rgba(0, 0, 0, 0);
    margin-bottom: 0px;
  }

  p {
    top: -4px;
    left: 8px;
    position: absolute;
    font-weight: 600;
    font-size: 12px;
    color: rgba(255, 255, 255, .97);
  }
}

.rune-tip {
  max-width: 600px;
}

.dark-toast{
  background: #323232;
  color: #fff;
}

.dark-toast > .toastify__close {
  color: #fff;
}

.transparent-progress{
  background:  rgba(255,255,255,0);
}

.fancy-progress{
  background: repeating-radial-gradient(red, yellow 10%, green 15%);
}

.App-header {
}

.stats-container {
  display: flex;
  flex-flow: column;
  box-sizing: border-box;

  .stat-row {
    display: flex;
    flex-flow: row;
    box-sizing: border-box;
    padding: 4px 16px 4px 16px;
  }

  .even {
    background-color: $primary-color-lightish;
  }

  .odd {

  }
}

.section-header {
  display: flex;
  align-items: center;

  button {
    position: relative;
  }
}

.build-stats {
  flex: 1 0 0;
  display: flex;
  flex-flow: column;

  background-color: $primary-color;
}

.spacer-1-flex {
  flex: 1 0 0;
  justify-content: center;
  align-items: center;
}

.main-scroll-view {
  padding: 0px 16px 0px 16px;
  flex: 2 0 0;
}

.main-outer {
  display: flex;
  justify-content: center;

  .side-ad {
    flex: 1 0 100%;
    flex-flow: column;
  }

  .side-ad-left {
    display: flex;
    align-items: flex-end;
  }

  .side-ad-right {
    display: flex;
    align-items: flex-start;
  }

  .ad {
    width: 100%;
    height: 100%; 
  }

  .ad-container {
    width: 600px;
    height: 100%; 
  }
}

.main {
  flex: 0 0 auto;
  max-width: 700px;

  .section-header {
    padding-left: 16px;
  }

  .content-container {
    padding-left: 16px;
    padding-right: 16px;
  }

  .App-title {
    font-size: 1.5em;
  }

  .add-item-container {
    display: inline-block;
  }

  .add-item {
    padding-top: 20px;
    width: 24px;
    height: 24px;
  }

  .selected-champion-container {
    border: 2px solid $accent-color; 
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;

    .selected-champion {
      left: -100%;
      right: -100%;
      top: -100%;
      bottom: -100%;
      position: absolute;
      margin: auto;
    }
  }

  .edit-champion-container {
    border: 2px solid $accent-color; 
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    
    img:hover {
      opacity: .5;  
    }
  }
}

.sums-container {
  display: flex;
  
  .selected-sum-container {
      border: 2px solid $accent-color; 
      border-radius: 50%;
      overflow: hidden;
  }
}


.champion-sums-container {
  padding-left: 16px;
  display: flex;
  -webkit-align-items: center;
  align-items: center;

  .sum-icon {
    width: 64px;
    height: 64px;
  }
}

.runes-container {
  $item-size: 40px;
  display: flex;
  flex-flow: row;
  margin-bottom: 16px;

  .divider {
    margin-top: 8px;
    margin-bottom: 8px;
    border-top: 1px solid rgba(200, 200, 200, .3);
    border-bottom: 1px solid rgba(200, 200, 200, .3);
  }

  .vertical-divider {
    margin-left: 8px;
    margin-right: 8px;
    border-left: 1px solid rgba(200, 200, 200, .3);
    border-right: 1px solid rgba(200, 200, 200, .3);
  }

  .runes-container-row {
    display: flex;
    flex-flow: column;

    > div {
      display: flex;
      flex-flow: row;
      width: 100%;
      justify-content: space-between;
      align-items: center;
    }
  }

  .item {
    box-sizing: border-box;
    width: $item-size;
    height: $item-size;
    border-radius: 50%;
    margin-right: 8px;
    cursor: pointer;
    border: 2px solid $accent-color; 
  }

  .item-selected {
    background: $accent-color;
  }
}

.final-items-container {
  padding-left: 8px;
  padding-right: 8px;
}

.side-panel {
  width: 0px;
  display: flex;
  flex-flow: column;
  transition: all .25s ease-in-out;

  background-color: $primary-color;

  &.side-panel-collapsed {
    transform: translateX(100%);
    flex: .001 0 0;
  }

  &.side-panel-expanded {
    transform: translateX(0);
    flex: 1 0 0;
  }
}

.vertical-content {
  display: flex;
  flex-flow: column;
  flex: 1 0 0;

  background-color: $primary-color;

  header {
    padding-left: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  h3 {
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: .1em;
  }

  .item {
    margin: 8px;
  }

  .items-scroll-view {
    flex: 1 0 auto;
    height:auto;
  }

  .items-container {
    box-sizing: border-box; 
    padding-left: 8px;
    padding-right: 8px;
    flex: 1 0 0;
    display: flex;
    flex-flow: row wrap;
  }
}

.error {
  color: #f00;
}

.skill-build {
  display: flex;
  flex-flow: row wrap;

  .skill-cell {
    margin-right: 1px;
    margin-bottom: 1px;
    background-color: $primary-color;
    transition: background-color 0.3s ease;

    display: flex;
    align-items: center;
    justify-content: center;

    &.clickable {
      cursor: pointer;
    }
  }

  .ult-cell {
    background-color: $primary-color-lightish;
  }

  .error-cell {
    box-shadow: 1px 1px 3px rgba(240, 10, 10, .5);
  }

  .skill-marked {
    width: 66%;
    height: 66%;
    background-color: $accent-color;
  }

  .skill-cell:hover {
    background-color: $primary-color-light;
  }

  .skill-cell:before {
      content:'';
      float:left;
      padding-top:100%;
  }
}

.App-intro {
  font-size: large;
}

.champion-view-container {
  margin: 8px;
  height: 60px;
  width: 60px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  transition: background-color 0.3s ease;
  border: 2px solid #c9ba9d;
  cursor: pointer;

  .item {
    margin-left: -8px;
    margin-top: -8px;
    height: 76px;
    width: 76px;
    background-size: cover;
    transition: opacity 0.3s ease;
  }

  .item:hover {
    opacity: .5; 
  }
}

.champion-view-container:hover { 
  background-color: $accent-color;
}

.item-build-section-container {
  transition: background-color 0.3s ease;

  &.reorder {
    background-color: $primary-color-light;
  }
}

.item-build {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.add-item-outer {
  margin-bottom: 8px;
}

.item-outer {
  overflow: hidden;
  position: relative;
  background-color: $primary-color-light;
  margin-bottom: 8px;
  cursor: pointer;

  .item-img-container {
    box-sizing: border-box;
    overflow: hidden;
    border: 2px solid $primary-color;

    img {
      margin-left: -4px;
      margin-top: -4px;
      background-size: cover;
    }
  }

  .a1 {
    display: flex;
    justify-content: center;
    align-items: center;

    transition: width 0.3s, height 0.3s, background-color 0.3s, transform 0.3s, opacity 0.3s ease-in-out;
    position: absolute;
    background-color: rgba(1, 1, 1, 0.5);
    left: 0px;
    top: 0px;
    opacity: 0;
    transform: translate(0, -100%);
    cursor: pointer;
  }

  .a1:hover {
    background-color: rgba(100, 100, 100, 0.5);
  }

  &.editable .a1-hover {
    transform: translate(0, 0);
    opacity: 1;
  }

  .a2 {
    display: flex;
    justify-content: center;
    align-items: center;

    transition: width 0.3s, height 0.3s, background-color 0.3s, transform 0.3s, opacity 0.3s ease-in-out;
    position: absolute;
    background-color: rgba(1, 1, 1, 0.5);
    left: 0px;
    bottom: 0px;
    opacity: 0;
    transform: translate(0, 100%);
    cursor: pointer;
  }

  .a2:hover {
    background-color: rgba(100, 100, 100, 0.5);
  }

  &.editable .a2-hover {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.item-picker {
  .item img {
      padding-top: 0px;
      width:  58px; /* you can use % */
      height: auto;
  }
}

.item img {
    padding-top: 8px;
    width:  64px; /* you can use % */
    height: auto;
}

h2 {
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
}

h3 {
  font-size: 1em;
}


@media (max-width: 1300px) {
  .main-outer .ad-left-banner {
    display: none;
  }

  .main-outer .ad-right-banner {
    display: none;
  }
}

@media (max-width: 1900px) {
  .main-outer .ad-container {
    width: 400px;
  }
}

@media (max-width: 1500px) {
  .main-outer .ad-container {
    width: 300px;
  }
}

@media (max-width: 1080px) { 
  .side-panel {
    position: absolute;
    right: 0px;
    width: 100%;
    height: 100%;
    max-width: 400px;
  }
}

@media (max-width: 700px) { 
  .main {
    flex: 0;
  }
}

@media (max-width: 600px) { 

  .runes-container {
    $item-size: 8vw;

    .item-selected {
      box-sizing: border-box;
      width: $item-size;
      height: $item-size;
      border-radius: 50%;
      background: $accent-color;
      margin-right: 2vw;
      cursor: pointer;
    }
    .item {
      box-sizing: border-box;
      border: 2px solid $accent-color; 
      height: $item-size;
      width: $item-size;
      border-radius: 50%;
      margin-right: 2vw;
      cursor: pointer;
    }
  }

  .side-panel {
    position: absolute;
    right: 0px;
    width: 100%;
    height: 100%;
    max-width: 230px;
  }
}