@import 'colors';

html, body {
    margin: 0;
    height: 100%;
}

body {
	width:100%;
	height: 100%;

  	margin: 0;
  	padding: 0;
  	font-family: sans-serif;
  	background-color: $bg-color;
  	color: white;
}

#root {
  height: 100%;
}